{% extends "base.html" %}

{% block title %}Taps & Takeout — Contact{% endblock %}

{% block content %}

  <main>
    <div class="page-content">
      <h1 class="page-title">Contact Us</h1>
      ...err actually don't.
    <!----
      <ul>
        <li>Email: <a href="mailto:tapsandtakeout@gmail.com">tapsandtakeout@gmail.com</a></li>
        <li>Phone: <a href="tel:+15108797080">(510) 879-7080</a></li>
        <li>Address: Next to Thornhill School</li>
      </ul>
    -->
    </div>

  </main>

{% endblock %}